html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFF;
    overflow: hidden;
    font-family: "Trebuchet MS";
}
#BasemapToggle {
    position: absolute;
    top: 150px;
    left: 20px;
    z-index: 50;
}
#search{
    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 74px;
}
#queryBurnAreas {
     height: 30px;
     width: 100px;
     display: block;
     position: absolute;
     z-index: 2;
     bottom: 20px;
     left: 20px;
 }
#queryBurnAreasText {
    height: 30px;
    width: 150px;
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 100px;
}
#basemapGallery {

    z-index: 50;
}